.header {
    background: transparent radial-gradient(closest-side at 50% 50%, #35465d 0%, #304765 100%) 0% 0%;
    box-shadow: 80px;
}

.invoice-list {
    background: transparent radial-gradient(closest-side at 50% 50%, #35465d 0%, #304765 100%) 0% 0%;
}